body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9813c0;
}

header {
    background-color: #9813c0;
    color:black;
    text-align: center;
    padding: 20px 0;
}

.history-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffbb00;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.bar-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.bar-name {
    font-weight: bold;
}

.bar-address {
    color: black;
}
.voltar{
    text-align: center;
}
.voltar button {
    background: #4caf50;
    padding: 10px;
    border-radius: 4px;
    border: 1;
    border-color: #fff;
}

.voltar a {
    color: #fff;
    text-decoration: none;
}