@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(37, 18, 62);
    font-family: "Roboto", sans-serif;
}
    
.titulo {
    color: rgb(255, 193, 0);
}

.subtitulo {
    color: rgb(255, 193, 0);
    text-align: center;
}

a {
    text-decoration: none;

}

.box {
    text-align: center;
    width: 100%;
}

.inner-box {
    justify-content: center;
    border-color: black;
    background-color: rgb(50, 25, 83);
    margin: auto;
    border-radius: 30px;
    box-shadow:  0px 10px 40px #00000056;
    padding: 10px;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(102, 6, 158);
    font-weight:bold;
}

.campo > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #9c89b6;
    box-shadow:  0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.campo > p {
    color: #f0ffffde;
    margin-top: 20px;
}

.campo > input::placeholder {
    color:rgb(180, 180, 180) ;
}

.redireciona-login {
    background-color: rgb(255, 193, 0);
    border-radius: 10px;
    padding: 2px;
    text-decoration: none;
}



#sign-up {
    border: none;
    margin: 20px;
    background-color: rgb(255, 193, 0);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    white-space: nowrap;
}

.slash {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.slash > h2 {
    margin: 0;
    margin-top: 30px;
    margin-left: 6px;
    color: rgb(255, 193, 0);
    font-size: large;
    font-weight: 800;
    letter-spacing: 2px;
}

.nomeslash {
    text-align: center;
    letter-spacing: 2px;
    color: rgb(255, 193, 0);
}

.slashImagem {
    height: 20vh;
}

#tela {
    color: white;
}



@media only screen and (min-width: 650px) {
    body {
        margin: 0;
    }
    
    .corpo {
        height: 50vh;
        display: block;
        align-items: center;
        justify-content: center;
        
    }

    .box {
        width: 60vw;
        max-width: 600px;
        justify-content: center;
        margin: 0 auto;
    }

    .titulo {
        font-size: xx-large;
    }

    .subtitulo {
        font-size: x-large;
    }

    .slash > h2 {
        font-size: x-large;
    }

    .slash {
        margin-top: 80px;
    }

    
    
}